langchain
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-dotenv
tiktoken
openai
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-dotenv
tiktoken
openai

Django
djangorestframework
django-cors-headers
gunicorn
groq
Django
djangorestframework
django-cors-headers
gunicorn
groq

Django
djangorestframework
django-cors-headers
gunicorn

langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-groq

pypdf
python-dotenv
tiktoken
openai
scikit-learn
whitenoise